
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: #0056b3;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9c997;
}

/* Container styling */
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Form styling */
.form {
    margin-top: 20px;
    margin-bottom: 20px;

}

.form select,
.form input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

/* Meme container styling */
#memeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.meme {
    margin: 10px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meme img {
    max-width: 100%;
    border-radius: 5px;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .form select,
    .form input {
        width: 100%;
    }
}
